<div class='mp'>
	<h1>httpbin(1): HTTP Request &amp;Response Service</h1>
	<p>Freely hosted in <a href="http://httpbin.org">HTTP</a>, <a href="https://httpbin.org">HTTPS</a>, &amp; <a href="http://eu.httpbin.org/">EU</a> flavors by <a href="http://kennethreitz.org">Kenneth Reitz</a> &amp; <a href="https://www.heroku.com/">Heroku</a>.</p>

	<h2 id="ENDPOINTS">ENDPOINTS</h2>

	<ul>
	<li><a href="{{ url_for('view_landing_page')}}" data-bare-link="true"><code>/</code></a>This page.</li>

	<li><a href="{{ url_for('view_origin')}}" data-bare-link="true"><code>/ip</code></a>Returns Origin IP.</li>

	<li><a href="{{ url_for('view_user_agent')}}" data-bare-link="true"><code>/user-agent</code></a>Returns user-agent.</li>

	<li><a href="{{ url_for('view_headers')}}" data-bare-link="true"><code>/headers</code></a>Returns header dict.</li>

	<li><a href="{{ url_for('view_get')}}" data-bare-link="true"><code>/get</code></a>Returns GET data.</li>

	<li><a href="{{ url_for('view_post')}}" data-bare-link="true"><code>/post</code></a> Returns POST data.</li>

	<li><a href="{{ url_for('view_patch')}}" data-bare-link="true"><code>/patch</code></a> Returns PATCH data.</li>

	<li><code>/put</code></a> Returns PUT data.</li>
	<li><code>/delete</code></a> Returns DELETE data</li>

	<li><a href="{{url_for('encoding')}}"><code>/encoding/utf8</code></a>Returns page containing UTF-8 data.</li>

	<li><a href="{{url_for('view_gzip_encoded_content')}}" data-bare-link="true"><code>/gzip</code></a>Returns gzip-encoded data.</li>
	
	<li><a href="{{url_for('view_deflate_encode_content')}}" data-bare-link = "true"><code>/deflate</code></a> Returns deflate-encoded data.</li>
	
	<li><a href="{{url_for('view_brotli_encode_content')}}" data-bare-link = "true"><code>/brotli</code></a> Returns brotli-encoded data.</li>

	<li><a href="{{url_for('view_status_code',codes='418')}}"><code>/status/:code</code></a> Returns given HTTP Status code.</li>

	<li><a href="{{ url_for('response_headers', **{'Content-Type': 'text/plain; charset=UTF-8', 'Server': 'httpbin'}) }}"><code>/response-headers?key=val</code></a> Returns given response headers.</li>
	
	</ul>
</div>
